name: CI

on:
  push:
    branches: [master]
  pull_request_target:
    branches: [master]
    types: [assigned, labeled, opened, reopened, synchronize]

concurrency:
  group: ci

jobs:
  ci:
    runs-on: ubuntu-latest
    if: |
      github.event_name != 'pull_request_target' ||
      github.event.pull_request.user.login == 'tanem' ||
      github.event.pull_request.user.login == 'renovate[bot]' ||
      contains(github.event.pull_request.labels.*.name, 'safe to test')
    steps:
      - uses: styfle/cancel-workflow-action@0.13.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v4
        if: github.event_name == 'pull_request_target'
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/checkout@v6
        if: github.event_name != 'pull_request_target'
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          check-latest: true
      - run: npm ci
      - run: npx --no-install playwright install --with-deps
      - run: npm run test:coverage
      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
      - uses: codecov/codecov-action@v5
